@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signinBtn {
  color: white !important;
  border: 1px solid white !important;
  margin-top: 10px !important;
  border-radius: 50px;
  width: 100px;
}
.signinBtn:hover {
  color: black !important;
  background-color: white !important;
}
.image-label > input {
  display: none;
}

.userPost {
  margin-top: 1.25rem;
  width: 100%;
}
.userPost .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}

.userTag {
  width: 100%;
}
.userTag .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}
